<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#instructions">Instructions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#output">Output</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="instructions" role="tabpanel">
            <instructions></instructions>
        </div>
    <div class="tab-pane" id="profile" role="tabpanel">
        Output
    </div>
    </div>
</div>

